.logo
{
background: black;
height: 200px;
width: 100%;

}
body
{
	background: white;
	background-size:100%;
	background-attachment:fixed;
	
}
.container a
{
	color:white;
	
}

.carousel-content a{
  position: absolute;
  top:0;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(255,255,255,.6);
}

.carousel-caption {
    position: absolute;
    
    display:table;
    width:50%;
    height:50%;
}

.absolute-div {
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 75%;
	  margin-top: 20px;
}

.carousel-caption h3 {
    display:table-cell;
    margin-left: 0 !important;
   color: white;
}
.carousel-caption h3 a{
   color: white;
   opacity: 0.8;
}

.item {
    position:relative;
}
#bodyVideo
{
	background: url("../pictures/tloW.jpg");
	background-size:cover;
	background-attachment:fixed;
}
#bodyZdjecia
{
	background: url("../pictures/tloZdj.jpg");
	background-size:cover;
	background-attachment:fixed;
	
}
article p
{
	color: white;
}
	